@import "../../variables.scss";
.allitems {
  background-image: url("../../Images/resturant.jpg");
  padding: 15rem 0rem;
  width: 100%;
  height: auto;
  margin-bottom: 3rem;
  position: relative;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 164, 66, 0.3);
    z-index: -1;
  }
  .main__heading {
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 3.5rem;
    z-index: 2;
    color: #fff;
  }
  p {
    font-size: 1rem;
    color: #fff;
  }
}
@media (max-width: 90rem) {
  .allitems {
    padding: 6rem 0rem;
    .main__heading {
      font-size: 2rem;
    }
  }
}
.boxShadow {
  box-shadow: 0rem 1rem 1.5rem -2rem rgba(0, 0, 0, 1);
}
.title {
  font-weight: 800 !important;
  margin-bottom: 0rem !important;
}

.cardButton {
  background: $primary__color;
  border: 0;
  padding: 0.5rem 1.5rem;
  font-size: 0.8rem;
  border-radius: 0.2rem;
  &:hover {
    background: darken($primary__color, 10%);
  }
}
.addedToCart {
  background: #000000;
  color: #fff;
  border: 0;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  border-radius: 0.2rem;
}
.image__hover__content {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    background: linear-gradient(to top, $primary__color, transparent);
    transform: scale(0);
    transform-origin: center;
    transition: all 0.5s ease;
    // z-index: 1;
  }
  &:hover:before {
    transform: scale(1);

    transition: all 0.5s ease;
  }

  .details__button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.9rem;
    background: transparent;
    border: 0.1rem solid #fff;
    padding: 0.5rem 1.5rem;
    border-radius: 0.2rem;
    cursor: pointer;
    color: #fff;
    letter-spacing: 0.1rem;
    opacity: 0;
    transition: all 0.5s ease;
  }

  &:hover .details__button {
    opacity: 1;
    transition: all 1s ease;
  }
}

// popup
.clsBtn {
  background: $primary__color;
  color: $text__color;
  border: 0.1px solid $primary__color;
  padding: 0.5rem 1.8rem;
  border-radius: 0.2rem;
  font-size: 0.8rem;
}
.popupHeader {
  background: $primary__color;
  #contained-modal-title-vcenter {
    font-weight: 800;
  }
  button {
    background: $text__color;
    color: #fff;
    border: 0.1px solid $text__color;
    padding: 0.5rem 1.8rem;
    border-radius: 0.2rem;
    font-size: 0.8rem;
    span:nth-child(1) {
      display: none;
    }
  }
}
.footer {
  background: $text__color;
}
.popBody {
  .popTitle {
    font-weight: 800;
    font-size: 2rem;
  }
  .popPrice {
    font-size: 1.5rem;
    font-weight: 800;
    color: $primary__color;
  }
  .popDescription {
    font-size: 0.8rem;
    text-align: justify;
  }
  .hastags {
    margin: 0rem;
    margin: 0rem 0.5rem;
    span {
      background: $primary__color;
      padding: 0.3rem 1rem;
      border-radius: 0.2rem;
      font-weight: 800;
      display: inline-block;
      margin: 0rem 0.1rem 0.2rem;
    }
  }
  .detailsPopimage {
    width: 100%;
    border-radius: 0.2rem;
  }
}
